.result {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 15px 25px;
  border-radius: 22px;
  background: #0e8ca2;
  font-size: 22px;
  font-family: sans;
  letter-spacing: 1px;
}

.button {
  padding: 15px 25px;
  color: #ffff;
  border: 1px solid #3e474c;
  border-radius: 22px;
  background: #3e474c;
  text-align: left;
  font-size: 22px;
  font-family: sans;
  letter-spacing: 1px;
  transition: all 0.05s linear;
  margin-left: auto;
  &:hover {
    background: #3e474c49;
    border: 1px solid #3e474c;
  }
  &:active {
    transform: scale(0.99);
  }
}
