.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  color: #fff;
  h1,
  h3 {
    font-family: sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
  }
  button {
    padding: 15px 25px;
    color: #ffff;
    border: 1px solid #3e474c;
    border-radius: 22px;
    background: #3e474c;
    text-align: left;
    font-size: 20px;
    font-family: sans;
    letter-spacing: 2px;
    transition: all 0.02s linear;
    &:hover {
      background: #3e474c49;
      border: 1px solid #3e474c;
    }
    &:active {
      transform: scale(0.99);
    }
  }
}
