* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

.steps {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: #ccc;
  border-radius: 10px;
  padding: 20px 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .numbers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    div {
      padding: 10px 20px;
      border-radius: 50%;
      background-color: #fff;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
      transition: 0.02s all ease-in;
    }
    .active {
      background-color: #7950f2;
      color: #fff;
    }
  }
  .message {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
  }
  .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
      padding: 5px 10px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 600;
      font-size: 16px;
      line-height: 26px;
      border-radius: 20px;
      border: none;
      transition: all 0.02s ease-in;
      background-color: #7950f2;
      color: #fff;
      text-transform: capitalize;
      &:active {
        transform: scale(0.9);
      }
    }
  }
}

// clear button

.clearButton {
  border: none;
  background: none;
  position: absolute;
  top: 40px;
  right: 40px;
  //font
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 500;
  transition: all 0.05s ease-in-out;
  &:active {
    transform: scale(0.9);
  }
}
